DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=CHANGE_ME_STRONG_PASSWORD
DB_ADMIN_DB=postgres
DB_NEWS=news_db

NEWSAPI_KEY=YOUR_REAL_NEWSAPI_KEY
NEWSAPI_URL=https://newsapi.org/v2/everything
NEWSAPI_DEFAULT_LANGUAGE=ru
NEWSAPI_SORT_BY=publishedAt

REQUEST_TIMEOUT_SECONDS=15
REQUEST_MAX_RETRIES=3
REQUEST_BACKOFF_FACTOR=1
REQUEST_MAX_BACKOFF_SECONDS=30
REQUEST_PAGE_SIZE_MAX=100
MAX_PAGES_PER_REQUEST=50
NEWSAPI_MAX_TOTAL_RESULTS=1000

DB_CONNECT_TIMEOUT_SECONDS=10
DB_STATEMENT_TIMEOUT_MS=45000
